<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
    <h1>Домашняя страница</h1>
    <ul>
        <li>
            <a href="{% url 'catalog_supplier_page' %}">Список поставщиков </a>
        </li>
    </ul>
</body>
</html>